In [2]:
import pandas as pd
import numpy as np

In [30]:
df = pd.DataFrame({'id':[1,2,3,4,5,6,7,8], 'num': [1,1,1,2,3,3,3,2]})
df

   id  num
0   1    1
1   2    1
2   3    1
3   4    2
4   5    3
5   6    3
6   7    3
7   8    2

In [31]:
num_list = df['num'].to_list()
num_list

[1, 1, 1, 2, 3, 3, 3, 2]

In [34]:
cur_list = []
res = []
prev = num_list[0]
for val in num_list:
    if prev == val:
    # if val in cur_list:
        cur_list.append(val)
        if len(cur_list)==3:
            res.append(val)
            cur_list=[]
    else:
        cur_list=[val]
        prev = val
print(cur_list)
print(res)
list(set(res))

[2]
[1, 3]

[1, 3]